* {
	border: none;
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 30px;
	min-height: 10px;
	margin-top: 5px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	padding: 0 6px;
	background: transparent;
}

#workspaces button {
	color: #a6adc8;
	background: transparent;
	font-size: 44px;
	padding: 4px 6px;
}

#workspaces button.empty {
	color: #45475a;
}

#workspaces button.visible {
	color: #6c7086;
}

#workspaces button.active {
	color: #89b4fa;
}

#workspaces button:hover {
	color: #f5c2e7;
}

#workspaces button.active:hover {
	color: #b4befe;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #bd93f9;
}

#network.disconnected {
	background: #6E6C7E;
	color: #D9E0EE;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1A1826;
	background: #FAE3B0;
}

#pulseaudio.muted {
	background: #6E6C7E;
	color: #D9E0EE;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #ABE9B3;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #DDB6F2;
}

#memory.warning {
	background: #FAE3B0;
}

#memory.critical {
	background: #F28FAD;
	animation: blink 0.5s linear infinite alternate;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #96CDFB;
}

#cpu.warning {
	background: #FAE3B0;
}

#cpu.critical {
	background: #F28FAD;
	animation: blink 0.5s linear infinite alternate;
}

#temperature {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F2CDCD;
}

#temperature.critical {
	background: #F28FAD;
	animation: blink 0.5s linear infinite alternate;
}

#disk {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: #161320;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F2CDCD;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #D9E0EE;
	}
}
